<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utkunun Bloğu</title>
</head>
<body>
    <div>
        <h1><a href="/">Ahanda Web Sayfası</a></h1>
    </div>
    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">Ahaanda Kendimi Seviuyorum.</a></h2>
        <p>Çok heyecanlıyım! Bu benim ilk blogum. Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. Ehehehe </p>
    </div>
    <h3>Aha burada h3 etiketi varmış</h3>
    <h4><a href="https://www.google.com.tr/" target="_blank">Buraya basınca Google yol alıyormuşuz.</a></h4>
</body>
</html>